<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <form method="POST" action="/submit">
      <input id="username" name="username" type="text">
      <input id="password" name="password" type="text">
      <input type="submit">
    </form>

    <div class="access">
      <p><%= access %></p>
    </div>

  </body>
</html>
